<h1>CHECK THESE OUT. (<%= @pictures.length %>)</h1>
<%= link_to "New Picture", "/pictures/new" %>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
<% end %>

<!-- Note to self: code is entered like you normally would, but wrapped in alligator tags when used in html. -->
